@page
@model LoggedOut

<div class="row align-self-center w-100">
    <div class="col-6 mx-auto">
        <div class="card">
            <div class="card-body text-center">
                <h4>See you soon!</h4>
                <p>You've been successfully signed out.</p>
            </div>
            <div class="card-footer">
                <div class="d-flex mx-auto">
                    <i onclick="window.open('https://github.com/joey32793/OpenRedding')" class="fab fa-github fa-2x px-2"></i>
                    <i onclick="window.open('https://registry.jsonresume.org/joey32793')" class="fas fa-code fa-2x px-2"></i>
                </div>
            </div>
        </div>
    </div>
</div>
