@page "/authentication/{action}"

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<RemoteAuthenticatorView Action="@Action">
    <LoggingIn>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                    <MatH4>Redirecting to login...</MatH4>
                    <MatProgressBar Indeterminate="true"></MatProgressBar>
                </div>
            </div>
        </div>
    </LoggingIn>
    <Registering>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                    <MatH4>Redirecting to account registration...</MatH4>
                    <MatProgressBar Indeterminate="true"></MatProgressBar>
                </div>
            </div>
        </div>
    </Registering>
</RemoteAuthenticatorView>

@code{
    [Parameter]
    public string? Action { get; set; }
}