@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell-span-2">
            <MatButton Raised="true" @onclick="IncrementCount">Increment</MatButton>
        </div>
        <div class="mat-layout-grid-cell-span-2">
            <MatButton Outlined="true" @onclick="IncrementCount">Increment</MatButton>
        </div>
    </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
