@page "/"

@using OpenRedding.Domain.Salaries.Dtos
@using OpenRedding.Domain.Salaries.Entities
@using OpenRedding.Client.Components

@inject IJSRuntime JSRuntime

<div class="container">
    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="title is-2">Open Redding</p>
                <hr/>
                <p class="heading">An open data portal for Redding, by the people, for the people.</p>
            </div>
        </div>
    </div>
    <div class="level">
        <div class="tabs is-toggle is-fullwidth">
            <ul>
                <li class="is-active">
                    <a>
                        <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                        <span>Pictures</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
                        <span>Music</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
                        <span>Videos</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                        <span>Documents</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<canvas class="particle-background"></canvas>

@code {
    /*
    const string SearchTooltip = "To search all salary data, leave all fields blank";

    string? name;

    private string? jobTitle;

    string? agency;

    string? status;
     */

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initParticlesJs");
        }

        var request = new EmployeeSalarySearchRequestDto(default, default, default, default, default);
    }
}
