@page "/"

@using Fluxor
@using OpenRedding.Client.Components
@using OpenRedding.Client.Shared

<div id="landing-page">

    @* Background image container *@
    <div style="background-image: url('/img/simple_blue.jpg'); background-size: cover;" class="py-5">

        @* Header section *@
        <section id="landing-page-header" class="d-flex flex-column mx-auto text-center">
            <h1 class="text-white font-weight-bolder">Open Redding</h1>
            <h5 class="text-white">An open data portal for Redding, for the people, by the people.</h5>
        </section>

        <div class="container">

            @* Search panels *@
            <section id="landing-page-search" class="py-4">
                <div class="d-flex flex-column justify-content-center align-content-center">

                    @* Button toggle group *@
                    <div class="d-flex flex-row justify-content-center py-4">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-info active">
                                <input @onclick="(() => selectedSearchOption = SearchOption.Salaries)" type="radio" name="options" id="salary-radio-option" autocomplete="off" checked="checked"> Salaries
                            </label>
                            <label class="btn btn-info">
                                <input @onclick="(() => selectedSearchOption = SearchOption.Budget)" type="radio" name="options" id="budget-radio-option" autocomplete="off"> Budget
                            </label>
                            <label class="btn btn-info">
                                <input @onclick="(() => selectedSearchOption = SearchOption.Zoning)" type="radio" name="options" id="zoning-radio-option" autocomplete="off"> Zoning
                            </label>
                        </div>
                    </div>

                    @* Content *@
                    @if (selectedSearchOption is SearchOption.Salaries)
                    {
                        <SalarySearch />
                    }
                    else
                    {
                        <div class="alert alert-danger text-center">
                            <h4 class="alert-heading">Coming soon...</h4>
                            <p class="mb-0">This feature is currently under development. Think you can <a style="color: deepskyblue;" href="https://github.com/joey32793/OpenRedding/issues" target="_blank">help?</a> We're always looking for collaborators!</p>
                        </div>
                    }

                    <div class="row justify-content-center">
                        <div class="alert alert-light text-center">
                            <p class="mb-0">Found a bug? Feel free to report any issues on Open Redding's <a style="color: deepskyblue;" target="_blank" href="https://github.com/joey32793/OpenRedding/issues">GitHub</a> page.</p>
                        </div>
                    </div>
                </div>
            </section>

            @* Card heroes *@
            <section id="landing-page-card-heroes">
                <div class="row px-3">
                    <div class="col-md-4">
                        <OpenReddingCard Body="Data for the City of Redding, all in one place." Title="Explore" ImageUrl="/img/code.jpg"></OpenReddingCard>
                    </div>
                    <div class="col-md-4">
                        <OpenReddingCard Body="Built in analytics to help you stay informed." Title="Analyze" ImageUrl="/img/sundial_bridge.jpg"></OpenReddingCard>
                    </div>
                    <div class="col-md-4">
                        <OpenReddingCard Body="Generate downloadable reports of any records." Title="Create" ImageUrl="/img/earth.jpg"></OpenReddingCard>
                    </div>
                </div>
            </section>
        </div>
    </div>

    @* About section *@
    <section class="mt-5 container" id="open-redding-about">
        <About />
    </section>

</div>

@code {

    private enum SearchOption
    {
        Salaries,
        Budget,
        Zoning
    }

    const string SearchTooltip = "To search all salary data, leave all fields blank";

    private SearchOption selectedSearchOption;

}
