@page "/"
@inject IJSRuntime JSRuntime

<h1 class="comfortaa">Open Redding</h1>

<canvas class="particle-background"></canvas>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        { 
            await JSRuntime.InvokeVoidAsync("initParticlesJs");
        }
    }
}