@page "/"

@using OpenRedding.Domain.Salaries.Dtos
@using OpenRedding.Domain.Salaries.Entities
@using OpenRedding.Client.Components
@using OpenRedding.Client.Shared.Home 

@inject IJSRuntime JSRuntime

<div id="landing-page" class="flex flex-col p-2">
    <div class="flex flex-col text-center ">
        <div class="py-2">
            <p class="text-5xl comfortaa">Open Redding</p>
        </div>
        <div class="p-0">
            <h5 class="text-xl">An open data portal for Redding, by the people, for the people.</h5>
        </div>
    </div>

    <div class="py-4">
        <SalarySearch />
    </div>

    <hr class="py-4"/>

    @*
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell-span-12">
                    <div class="flex-container-column-center">
                        <MatH6 Class="text-center">Coming soon... think you can <a href="https://github.com/joey32793/OpenRedding/issues">help</a>? We're always looking for people!</MatH6>
                    </div>
                </div>
            </div>
        </div>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell-span-12">
                    <div class="flex-container-column-center">
                        <MatH6 Class="text-center">Coming soon... think you can <a href="https://github.com/joey32793/OpenRedding/issues">help</a>? We're always looking for people!</MatH6>
                    </div>
                </div>
            </div>
        </div>
    *@

    <div class="flex flex-row justify-center">
        <div class="grid grid-cols-3 gap-4">
            <OpenReddingCard Body="Redding's data, all in one place." Title="Explore" ImageUrl="/img/code.jpg"></OpenReddingCard>
            <OpenReddingCard Body="Built in analytics to help you stay informed." Title="Analyze" ImageUrl="/img/sundial_bridge.jpg"></OpenReddingCard>
            <OpenReddingCard Body="Generate downloadable reports of any records." Title="Create" ImageUrl="/img/earth.jpg"></OpenReddingCard>
        </div>
    </div>

    @*
        <div style="margin-top: 30px;" class="flex-container-column-center">
            <div class="flex-container-row-center">
                <MatButton Icon="favorite" Label="Support"></MatButton>
                <MatButton Link="https://github.com/BlazorComponents/MatBlazor">
                    <i class="fa fa-github" aria-hidden="true"></i> &nbsp; Github
                </MatButton>
            </div>
            <MatSubtitle1>Licensed under MIT - <a href="https://www.brewdude.tech" target="_blank">Joey Mckenzie</a></MatSubtitle1>
        </div>
    *@
</div>
