@page "/salaries"

@inject NavigationManager Navigation
@inject HttpClient HttpClient

<section id="open-redding-salaries" class="container">
    <h2 class="text-center">Salaries</h2>

</section>

@code {
}
