@*
<MatCard class="demo-mat-card">
    <MatCardContent Class="text-center">
        <MatCardMedia Wide="true" ImageUrl="@ImageUrl"></MatCardMedia>
        <div class="demo-mat-card-content">
            <MatH4 class="demo-mat-card-clean-margin">
                <span class="comfortaa">@Title</span>
            </MatH4>
        </div>

        <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
            @Body
        </MatBody2>
    </MatCardContent>
</MatCard>
*@
<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <img class="w-full h-full" src="@ImageUrl">
    <div class="px-6 py-4 text-center">
        <div class="font-bold text-xl mb-2">@Title</div>
        <p class="text-gray-700 text-base">
            @Body
        </p>
    </div>
</div>


@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Body { get; set; }

    [Parameter]
    public string? ImageUrl { get; set; }

}