<div class="card">
    <img class="card-img-top" src="@ImageUrl">
    <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">@Title</h4>
        <p class="card-text">@Body</p>
    </div>
</div>

@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Body { get; set; }

    [Parameter]
    public string? ImageUrl { get; set; }

}