@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="row align-self-center w-100">
    <div class="col-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center">Password Reset Confirmation</h4>
                @if (string.IsNullOrWhiteSpace(Model.UserEmail))
                {
                    <p class="text-center">If we find an account with your email, we'll send you a link to reset your password.</p>
                }
                else
                {
                    <p class="text-center">If we find an account with the email <strong>@Model.UserEmail</strong>, we'll send you a link to reset your password.</p>
                }
            </div>
            <div class="card-footer">
                <div class="d-flex">
                    <div class="mr-auto">
                        <a asp-area="Identity" asp-page="/About" class="px-2">About</a>
                        <a asp-area="Identity" asp-page="/Account/Login" class="px-2">Login</a>
                        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </div>
                    <i onclick="window.open('https://github.com/joey32793/OpenRedding')" class="fab fa-github fa-2x px-2"></i>
                    <i onclick="window.open('https://registry.jsonresume.org/joey32793')" class="fas fa-code fa-2x px-2"></i>
                </div>
            </div>
        </div>
    </div>
</div>