@page
@model Lockout
@{
    ViewData["Title"] = "Locked out";
}

<div class="row align-self-center w-100">
    <div class="col-6 mx-auto">
        <div class="card border-danger">
            <div class="card-body">
                <h4 class="text-center">Account Locked</h4>
                <p class="text-center">Your account has been temporary locked, please try again later.</p>
            </div>
            <div class="card-footer">
                <div class="d-flex">
                    <div class="mr-auto">
                        <a asp-area="Identity" asp-page="/About" class="px-2">About</a>
                    </div>
                    <i onclick="window.open('https://github.com/joey32793/OpenRedding')" class="fab fa-github fa-2x px-2"></i>
                    <i onclick="window.open('https://registry.jsonresume.org/joey32793')" class="fas fa-code fa-2x px-2"></i>
                </div>
            </div>
        </div>
    </div>
</div>
