@using OpenRedding.Domain.Common.ViewModels
@using OpenRedding.Domain.Salaries.Enums

<div class="d-flex flex-column">
    <label class="col-form-label" for="agency-dropdown">Agency</label>
    <select @onchange="OnAgencySelected" id="agency-dropdown" class="form-control">
        <option disabled>Select an agency</option>
        @foreach (var agencyOption in employeeAgencySelectOptions.SelectOptions)
        {
            @if (agencyOption.Key == ExistingSelection)
            {
                <option selected value="@agencyOption.Key">@agencyOption.Value</option>
            }
            else
            { 
                <option value="@agencyOption.Key">@agencyOption.Value</option>
            }
        }
    </select>
</div>

@code {

    [Parameter]
    public EventCallback<EmployeeAgency> AgencySelectedCallback { get; set; }

    [Parameter]
    public EmployeeAgency ExistingSelection { get; set; }

    private OpenReddingEnumSelectViewModel<EmployeeAgency> employeeAgencySelectOptions = new OpenReddingEnumSelectViewModel<EmployeeAgency>();

    protected override void OnInitialized()
    {
        employeeAgencySelectOptions
            .AddOption(EmployeeAgency.AllAgencies, "All Agencies")
            .AddOption(EmployeeAgency.Redding, "Redding")
            .AddOption(EmployeeAgency.ShastaCounty, "Shasta County")
            .AddOption(EmployeeAgency.Other, "Other");
    }

    private async Task OnAgencySelected(ChangeEventArgs e)
    {
        await AgencySelectedCallback.InvokeAsync(Enum.Parse<EmployeeAgency>(e.Value.ToString()));
    }

}