<div class="flex-container-column-center">
    <div class="container text-center">
        <MatH2>About</MatH2>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner mat-elevation-z4">
                <div class="mat-layout-grid-cell">
                    <MatH4>What is Open Redding?</MatH4>
                    <p>
                        Nullam egestas sagittis odio ut vestibulum. Maecenas imperdiet dolor vel imperdiet tristique.
                        Etiam porttitor risus eget libero molestie elementum. Nunc lacinia elit nec justo pulvinar gravida.
                        Etiam sit amet eros non magna eleifend posuere eu vitae elit. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Suspendisse nec malesuada tortor, et egestas dolor.
                        Curabitur hendrerit ex purus, non ultricies tortor semper non.
                    </p>
                    <MatDivider></MatDivider>
                </div>
            </div>
        </div>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner mat-elevation-z4">
                <div class="mat-layout-grid-cell">
                    <MatH4>What is Open Redding?</MatH4>
                    <p>
                        Nullam egestas sagittis odio ut vestibulum. Maecenas imperdiet dolor vel imperdiet tristique.
                        Etiam porttitor risus eget libero molestie elementum. Nunc lacinia elit nec justo pulvinar gravida.
                        Etiam sit amet eros non magna eleifend posuere eu vitae elit. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Suspendisse nec malesuada tortor, et egestas dolor.
                        Curabitur hendrerit ex purus, non ultricies tortor semper non.
                    </p>
                    <MatDivider></MatDivider>
                </div>
            </div>
        </div>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner mat-elevation-z4">
                <div class="mat-layout-grid-cell">
                    <MatH4>What is Open Redding?</MatH4>
                    <p>
                        Nullam egestas sagittis odio ut vestibulum. Maecenas imperdiet dolor vel imperdiet tristique.
                        Etiam porttitor risus eget libero molestie elementum. Nunc lacinia elit nec justo pulvinar gravida.
                        Etiam sit amet eros non magna eleifend posuere eu vitae elit. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Suspendisse nec malesuada tortor, et egestas dolor.
                        Curabitur hendrerit ex purus, non ultricies tortor semper non.
                    </p>
                    <MatDivider></MatDivider>
                </div>
            </div>
        </div>
    </div>
</div>
