@page
@model OpenRedding.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row align-self-center w-100 mb-2">
    <div class="col-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center">Register an account for Open Redding</h4>
                <p class="text-center">Please fill out each of the <strong>required</strong> fields below</p>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="form-group">
                        <label for="register-email" asp-for="RegistrationModel.Email"></label>
                        <input type="email" asp-for="RegistrationModel.Email" class="form-control" id="register-email" placeholder="Email">
                        <span class="text-danger" asp-validation-for="RegistrationModel.Email"></span>
                    </div>
                    <div class="form-group">
                        <label for="register-email-confirmed" asp-for="RegistrationModel.ConfirmEmail"></label>
                        <input type="email" asp-for="RegistrationModel.ConfirmEmail" class="form-control" id="register-email-confirmed" placeholder="Confirmed Email">
                        <span class="text-danger" asp-validation-for="RegistrationModel.ConfirmEmail"></span>
                    </div>
                    <div class="form-group">
                        <label for="register-password" asp-for="RegistrationModel.Password"></label>
                        <input type="password" asp-for="RegistrationModel.Password" class="form-control" id="register-password" placeholder="Password">
                        <span class="text-danger" asp-validation-for="RegistrationModel.Password" />
                    </div>
                    Passwords must contain <strong>all</strong> of the following:
                    <ul>
                        <li>
                            10 characters in length
                        </li>
                        <li>
                            At least <strong>one</strong> lowercase alphabetic character
                        </li>
                        <li>
                            At least <strong>one</strong> uppercaseed alphabetic character
                        </li>
                        <li>
                            At least <strong>one</strong> special character
                        </li>
                        <li>
                            At least <strong>one</strong> numeric character
                        </li>
                    </ul>
                    <div class="form-group">
                        <label for="register-password-confirmed" asp-for="RegistrationModel.ConfirmPassword"></label>
                        <input type="password" asp-for="RegistrationModel.ConfirmPassword" class="form-control" id="register-password-confirmed" placeholder="Password">
                        <span class="text-danger" asp-validation-for="RegistrationModel.ConfirmPassword"></span>
                    </div>
                    <div class="form-group">
                        <label for="register-reason-for-use" asp-for="RegistrationModel.ReasonForUse"></label>
                        <input class="form-control" asp-for="RegistrationModel.ReasonForUse" id="register-reason-for-use" placeholder="Reason">
                        <span class="text-danger" asp-validation-for="RegistrationModel.ReasonForUse"></span>
                    </div>
                    <div class="d-flex justify-content-center py-2">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                    <div class="d-flex py-2 justify-content-center">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex">
                    <div class="mr-auto">
                        <a asp-page="/About" class="px-2">About</a>
                        <a asp-page="/Account/Login">Login</a>
                    </div>
                    <i onclick="window.open('https://github.com/joey32793/OpenRedding')" class="fab fa-github fa-2x px-2"></i>
                    <i onclick="window.open('https://registry.jsonresume.org/joey32793')" class="fas fa-code fa-2x px-2"></i>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}