@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Fluxor 
@using OpenRedding.Client.Components.Dropdowns.Salaries
@using OpenRedding.Client.Components.Common
@using OpenRedding.Client.Services 
@using OpenRedding.Client.Store.Features.Salaries
@using OpenRedding.Domain.Salaries.Dtos 
@using OpenRedding.Domain.Salaries.Enums

@inject SalariesStateFacade StateFacade
@inject NavigationManager Navigation
@inject IState<SalariesState> State 

@* Salary search *@
<div class="form-group row px-2">

    @* Name *@
    <div class="col-md-3">
        <ValidatedInput
                OnValidatedInput="IsValidEmployeeNameHandler"
                OnValueInput="EmployeeNameInputHandler"
                DisplayErrorMessage="false"
                FieldLabel="Name" 
                InputId="salary-search-name" 
                LabelCss="col-form-label text-white" />
    </div>

    @* Job title *@
    <div class="col-md-3">
        <ValidatedInput 
                OnValidatedInput="IsValidJobTitleHandler"
                OnValueInput="JobTitleInputHandler"
                DisplayErrorMessage="false"
                FieldLabel="Job Title"
                InputId="salary-search-job-title" 
                LabelCss="col-form-label text-white" />
    </div>

    @* Agency *@
    <div class="col-md-3">
        <EmployeeAgencyDropdown 
                LabelCss="col-form-label text-white-90" 
                LoadFromApi="false"
                ExistingSelection="Enum.TryParse<EmployeeAgency>(State.Value.SearchRequest?.Agency, true, out var agency) ? agency : EmployeeAgency.AllAgencies" />
    </div>

    @* Status *@
    <div class="col-md-3">
        <EmployeeStatusDropdown 
                LabelCss="col-form-label text-white-90"
                ExistingSelection="Enum.TryParse<EmployeeStatus>(State.Value.SearchRequest?.Status, true, out var status) ? status : EmployeeStatus.AllStatuses" />
    </div>

    @* Search button *@
    @if (isValidEmployeeName && isValidJobTitle)
    {
        <div class="pt-4 d-flex flex-row mx-auto">
            <button @onclick="OnSearchClicked" class="btn btn-lg btn-info" type="button" data-toggle="tooltip" data-placement="bottom" title="To browse all salary data, leave all fields above blank.">Search</button>
        </div>
    }
    else
    {
        <div class="pt-4 d-flex flex-row mx-auto">
            <button style="cursor: not-allowed" disabled @onclick="OnSearchClicked" class="btn btn-lg btn-info" type="button" data-toggle="tooltip" data-placement="bottom" title="Please enter valid values in the fields above before attempting to search.">Search</button>
        </div>
    }
</div>

@code {

    private string? employeeName;

    private string? jobTitle;

    private bool isValidEmployeeName = true;

    private bool isValidJobTitle = true;

    protected override async Task OnInitializedAsync()
    {
        if (State.Value.SearchRequest is null)
        {
            return;
        }

        // Set search values from the original query
        employeeName = State.Value.SearchRequest.Name;
        jobTitle = State.Value.SearchRequest.JobTitle;

        await Task.Run(() => base.OnInitialized());
    }

    protected override void Dispose(bool disposing)
    {
        if (disposing)
        {
            base.Dispose(disposing);
        }
    }

    private void OnSearchClicked()
    {
        var searchRequest = new EmployeeSalarySearchRequestDto(
            name: employeeName,
            jobTitle: jobTitle,
            agency: State.Value.SearchRequest?.Agency,
            status: State.Value.SearchRequest?.Status);

        // Set the current search request on the state and load employees from the request
        StateFacade.SetCurrentSearchRequest(searchRequest);
        StateFacade.LoadEmployeesFromSearchRequest();
    }

    private void IsValidEmployeeNameHandler(bool isValid)
    {
        isValidEmployeeName = isValid;
    }

    private void IsValidJobTitleHandler(bool isValid)
    {
        isValidJobTitle = isValid;
    }

    private void EmployeeNameInputHandler(string? updatedEmployeeValue)
    {
        employeeName = updatedEmployeeValue;
    }

    private void JobTitleInputHandler(string? updatedJobtTileHandler)
    {
        jobTitle = updatedJobtTileHandler;
    }

}