<div class="pt-2 row">

    @* FAQ section *@
    <div class="col-md-4 text-center">
        <h4>What is Open Redding?</h4>
        <hr class="py-0" />
        <p>
            Open Redding is a data initiative to centralize all publicly available data about the city in one place. As a former resident of Sacramento,
            an analogous project maintained by the city is the <a href="http://data.cityofsacramento.org/">Sacramento Open Data</a> portal, offering
            several outlets to explore various categories collected from a wide variety of public concerns. While Redding does have an ArcGIS based tool
            in the <a href="https://data-redding.opendata.arcgis.com/">Redding GeoHub</a>, it is largely GIS based data that is of not much interest
            to the general public. Our mission is to find and publicize important data that inform the denizens of our city.
        </p>
    </div>

    <div class="col-md-4 text-center">
        <h4>Why do we need a project like this?</h4>
        <hr class="py-0" />
        <p>
            As tax-paying residents of Redding, knowledge of city-wide projects and budget allocations is powerful in the hands of voters. With publicly
            available data made easily accessible through Open Redding establishing transparency between the City of Redding and its population, we can
            stay informed about the decisions being made from our local leadership.
        </p>
    </div>

    <div class="col-md-4 text-center">
        <h4>How can I contribute?</h4>
        <hr class="py-0" />
        <p>
            If you're interested in helping us work on the project, send us an email at <a href="mailto:joey.mckenzie27@gmail.com">openredding@gmail.com</a>
            as we're always looking for developers, data specialists, and just about anyone with an interest and passion for the public. For developers,
            visit our <a href="https://github.com/joey32793/OpenRedding">GitHub</a> and take a look at any of the open issues to begin contributing. Open
            Redding is a .NET-based application utilizing SQL Server, Azure, and Blazor across the stack.
        </p>
    </div>
</div>
