<div class="flex-container-column-center">
    <div class="flex-container-row-center">
        <MatButton Icon="favorite" Label="Support"></MatButton>
        <MatButton Link="https://github.com/BlazorComponents/MatBlazor">
            <i class="fa fa-github" aria-hidden="true"></i> &nbsp; Github
        </MatButton>
    </div>
    <div style="padding-top: 10px;" class="flex-container-column-center">
        <MatSubtitle1>Licensed under MIT - <a href="httsp://jsonresume.registry/joey32793" target="_blank">Joey Mckenzie</a></MatSubtitle1>
    </div>
</div>