@inherits Fluxor.Blazor.Web.Components.FluxorLayout

@using Fluxor
@using OpenRedding.Client.Components.Common
@using OpenRedding.Client.Store

@inject NavigationManager NavigationManager
@inject IState<OpenReddingAppState> State

<NavMenu />

<section id="open-redding-main-container">
    @* Render any current Errors *@
    <OpenReddingErrorModal />

    @** Render all child content *@
    @Body
</section>

<Footer />

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override void Dispose(bool disposing)
    {
        if (disposing)
        {
            base.Dispose(disposing);
        }
    }

}
