@inherits Fluxor.Blazor.Web.Components.FluxorLayout

@inject NavigationManager NavigationManager

<NavMenu />

<section id="open-redding-body-container">
    @Body
</section>

<Footer />

@code {        

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override void Dispose(bool disposing)
    {
        if (disposing)
        {
            base.Dispose(disposing);
        }
    }

}