@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager NavigationManager
@inject SignOutSessionStateManager SignOutManager

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                @if (isOpen)
                {
                    <MatIconButton Icon="format_indent_decrease" @onclick="OnMenuButtonClick"></MatIconButton>
                }
                else
                {
                    <MatIconButton Icon="menu" @onclick="OnMenuButtonClick"></MatIconButton>
                }
                <MatAppBarTitle Style="cursor: pointer;" @onclick="(() => NavigateToPage(NavigationContext.Home))"><span class="comfortaa">Open Redding</span></MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <LoginDisplay />
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    <MatAppBarContent>
        <MatDrawerContainer Style="width: 100vw; height: 100vh;">
            <MatDrawer @bind-Opened="@isOpen" Mode="@MatDrawerMode.Modal">
                <MatNavMenu Style="margin-top: 5px;">
                    <MatDrawerLoginDisplay />
                </MatNavMenu>
            </MatDrawer>
            <MatDrawerContent>
                <div class="flex-container-column">
                    @Body
                    <Footer />
                </div>
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>

@code {

    private bool isOpen = false;

    private enum NavigationContext
    {
        Home,
        About,
        GitHub,
        Register,
        Login,
        Logout,
        UserProfile,
        Salaries,
        Budget
    }

    private void OnMenuButtonClick()
    {
        isOpen = !isOpen;
    }

    private async Task NavigateToPage(NavigationContext context)
    {
        switch (context)
        {
            case NavigationContext.About:
                NavigationManager.NavigateTo("about");
                break;
            case NavigationContext.GitHub:
                NavigationManager.NavigateTo("https://github.com/joey32793/OpenRedding");
                break;
            case NavigationContext.Register:
                NavigationManager.NavigateTo($"authentication/register?returnUrl={Uri.EscapeDataString(NavigationManager.Uri)}");
                break;
            case NavigationContext.Login:
                NavigationManager.NavigateTo($"authentication/login?returnUrl={Uri.EscapeDataString(NavigationManager.Uri)}/");
                break;
            case NavigationContext.Logout:
                var logoutGuid = Guid.NewGuid();
                var returnUrl = NavigationManager.BaseUri;
                await SignOutManager.SetSignOutState();
                NavigationManager.NavigateTo("authentication/logout");
                break;
            default:
                NavigationManager.NavigateTo("/");
                break;
        }
    }
}
