<nav class="flex items-center justify-between flex-wrap bg-blue-500 p-4">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <div class="flex flex-row justify-between">
            <img class="rounded h-8 w-10" src="/img/favicon.png">
            <a href="/" class="font-semibold text-xl tracking-tight px-2">Open Redding</a>
        </div>
        <div class="px-4 flex flex-row justify-around">
            <NavLink href="/salaries" Match="@NavLinkMatch.Prefix">
                <span class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">Salaries</span>
            </NavLink>
            <div class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4 cursor-not-allowed tooltip">
                Budget
                <span class="tooltiptext">This feature is currently under active development and will be released at a later date</span>
            </div>
            <div class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4 cursor-not-allowed tooltip">
                Zoning
                <span class="tooltiptext">This feature is currently under active development and will be released at a later date</span>
            </div>
        </div>
    </div>
    <div class="block lg:hidden">
        <button class="flex items-end px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" /></svg>
        </button>
    </div>
    @*
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <NavLink href="/salaries" Match="@NavLinkMatch.Prefix">
                    <span class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">Salaries</span>
                </NavLink>
                <div class="flex flex-col justify-center">
                    <div class="relative mx-2 hidden">
                        <div class="bg-black text-white text-xs rounded py-1 px-4 right-0 bottom-full">
                            <p>This feature is currently under active development and will be released at a later date</p>
                            <svg class="absolute text-black h-2 w-full left-0 top-full" x="0px" y="0px" viewBox="0 0 255 255" xml:space="preserve"><polygon class="fill-current" points="0,0 127.5,127.5 255,0" /></svg>
                        </div>
                    </div>
                    <span class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4 cursor-not-allowed">Budget</span>
                </div>
                <span class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white cursor-not-allowed">Zoning</span>
            </div>
        </div>
    *@
</nav>